.main-screen{
    display: flex;
    background-color: rgb(6, 27, 192);
    min-height: 100vh;
    min-width: 100%;
    justify-content: space-around;
    align-content: center;
    padding: 40px;
    gap:50px;
}

.etchasketch{
    border-width: 60px;
    border-style: solid;
    border-radius: 40px;
    border-color: red;
    min-height:80vh;
    width:70%;
    display: flex;
    flex:2.2;
    flex-direction: column;
}

.menu{
    display: flex;
    flex-direction: column;
    border-width: 25px;
    border-style: solid;
    border-radius: 40px;
    border-color: red;
    background-color: rgb(81, 102, 122); /*CHange this color so you can better see the white*/
    padding: 15px;
    flex:1;
}

.menu img{
    width:100%;
    min-height: 0px;
}

.menu .color-selector{
  margin-top:40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  
}

.menu .color-selector .row-one{
  display: flex;
  margin-bottom: 0px;
}

.menu .color-selector .row-two{
  display: flex;
  margin-top: 0px;
}

.menu .color-selector .row-two svg {
  margin-top: -90px;
  margin-bottom: -10px;
}


.menu .toggle-buttons{
    display:flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 0px;
}

.menu .toggle-buttons h3{
    margin:8px;
}

.menu .color-selected{
  display: flex;
}

.brush-size-container{
  display: flex;
  flex-direction: column;

}

circle{
  stroke:black; 
  stroke-width:0.5;
}

#clear-button{
  text-align: center;
  border-radius: 12px;
}



*{
    box-sizing: border-box;
}

body{
    margin:0px;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self:right;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}